body{
	/*background-color: #00BCD4;*/
}
.slider .indicators .indicator-item.active{
	background-color: #ffa726;
}

.logo-sty{
	height:50px;
	margin:0 8px;
}

.btn-ins{
	background-color: #283593;
}
.btn-ins:hover{
	background-color: #00BAD2;
}
.nav-opacity{
    background:rgba(255,255,255,1);
}
.title-sombra{
	text-shadow: 0px 2px 3px black;
}

/* Nuevo */
.table-of-contents a{
	display: block;
	line-height: 2px;
	text-align: center;
}
.table-of-contents a.active{
	font-weight: 500;
    padding-left: 0;
    border-left: 0;
    border-bottom: 2px solid #ea4a4f;
}
img.responsive-img{
	max-height: 130px
}
.tit-pon{
	font-weight: 300;
	font-size: 18px;
}
.tit-sec{
	font-weight: 300;
	font-size: 25px;
}

nav ul a{
	color: #0d47a1;
	font-size: 16px
}